.banner{
	width:100%;
	/*height:400px;*/
	height:25vh;

	background-image: url('./images/node_banner.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

#banner_link{
	position: absolute;
	height: 21vh;
	width: 100%;
}

#nav{
	width: 100%;
	/*height: 70px;*/
	height: 4vh;
	/*background-color: #4F4F4F;*/
	background: -webkit-linear-gradient(left,rgba(74, 74, 74, 1),rgba(57, 56, 56, 0.5), rgba(46, 47, 47, 1));
	background: -o-linear-gradient(right,rgba(74, 74, 74, 1),rgba(57, 56, 56, 0.5), rgba(46, 47, 47, 1));
	background: -moz-linear-gradient(right,rgba(74, 74, 74, 1),rgba(57, 56, 56, 0.5), rgba(46, 47, 47, 1));
	background: linear-gradient(to right,rgba(74, 74, 74, 1),rgba(57, 56, 56, 0.5), rgba(46, 47, 47, 1));
	margin-top: 21vh;
	border-bottom: 1px solid #80BD01;
	text-align: right;
}

#ng_view{
	/*background:url('./images/brushed.png') repeat fixed;*/
	background-color: green;
	background-size: 60px;
	border-top:1px solid black;
}

#description{
	display: inline-block;
	vertical-align: top;
	/*margin: 0px auto;*/
	text-align: center;
	margin-top: .65vh;
	width: 99%;
	color:#fff;
}
#button_container{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right: 0px;
}

button{
	background-color: inherit;
	height:4vh;
	border:none;
	padding: .8vh 1.5vh;
	border-left: 1px solid #80BD01;
	font-size: 18px;
}
a{
	color:#ccc;
}

a:hover{
	color:#fff;
	text-decoration: none;
	border:none;
}

button:focus{
	outline:none;
}

body{
	background-color: #222;
}
.container{
	/*margin-top: 30px;*/
	width: 100%;
	min-height:75vh;
	color:#aaa;
	background-color: #222;
	outline:1px solid black;
	/*border-bottom: none;*/


	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 38%, rgba(136,199,0,1) 48%, rgba(203,219,167,1) 51%, rgba(136,199,0,1) 53%, rgba(34,34,34,1) 64%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(38%, rgba(34,34,34,1)), color-stop(48%, rgba(136,199,0,1)), color-stop(51%, rgba(203,219,167,1)), color-stop(53%, rgba(136,199,0,1)), color-stop(64%, rgba(34,34,34,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 38%, rgba(136,199,0,1) 48%, rgba(203,219,167,1) 51%, rgba(136,199,0,1) 53%, rgba(34,34,34,1) 64%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 38%, rgba(136,199,0,1) 48%, rgba(203,219,167,1) 51%, rgba(136,199,0,1) 53%, rgba(34,34,34,1) 64%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 38%, rgba(136,199,0,1) 48%, rgba(203,219,167,1) 51%, rgba(136,199,0,1) 53%, rgba(34,34,34,1) 64%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 38%, rgba(136,199,0,1) 48%, rgba(203,219,167,1) 51%, rgba(136,199,0,1) 53%, rgba(34,34,34,1) 64%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );


}

/*Home*/

.posts{
	width: 80%;
	margin:40px auto;
	/*opacity:.5;*/
	/*setting opacity sets opacity for all children, setting background:rgba does not effect children*/
	border-radius: 5px;
	background:url('./images/brushed2.jpg') repeat;
	background:rgba(255,255,255,0.3); 
}

.posts:hover{
	/*border:2px solid #80BD01;*/
	border:1px solid #fff;
	/*opacity: .8;*/
	background:rgba(255,255,255,0.7); 
}

.post_link img{
	opacity: 2;
}
.post{
	width: 80%;
	margin:40px auto;
	border-radius: 5px;
	padding: 15px;
	background-color: #333;
	
}
.post .post_title,.post .post_body{
	color: #fff;
}
.post_link{
	/*width: 200px;*/
	display: block;
	height: 100%;
	width: 100%;
	padding:15px;
}

/*.post_link:hover .post_title{
	color: #80BD01;
}*/


.post_link:hover .post_body{
	color:white;
	border-bottom:1px solid black;
}

.post_title{
	color:#111;
	width: 100%;
	font-size: 2em;
	/*border-bottom: 3px solid #333;*/
}

.post_summary{
	color:#333;
}

.post_body{
	color:#333;
	width: 90%;
	margin:5px auto;
	padding:15px;
}
.post_date{
	width: 100%;
	padding: 0px 20px;
	border-radius: 10px;
	background-color: #212121;
}

.input_title, .input_summary, .input_body{
	display: block;
	font-size: 15px;
	margin-bottom: 25px;
	color:#ddd;
	background-color: #333;
}

.input_title{
	width: 40%;
	border:1px inset #ddd;
}

.input_summary{
	width: 60%;
}

.input_body{
	width: 100%;
	height:550px;
}

.input_submit{
	color:#ddd;
	background-color: #333;	
}

#delete_post{
	display: none;
	color:red;
}

#delete_post:hover{
	color:#FF5656;
}

#cancel_deletion{
	display: none;
}

#edit_delete{
	float:right;
}

#edit_delete a{
	margin-left: 10px;
}




